.btn{
    background-color: #222;
    color: #FFF;
    padding: 0,5em 1em;
    text-decoration: none;
    transition: 0.5s;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
}

.btn:hover{
    color: #FFBB33;
}